*{
    border:0;
    padding: 0;
    box-sizing: border-box;
}
.marginTop{
  padding:5rem 0 0 3rem;  
}
.recipesContent{
    padding-top: 2rem;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe{
    width:300px;    
    /*border: 1px dotted rgb(177, 175, 175);*/
    margin:.5rem;
    overflow: hidden; 
    text-align: center; 
}



.thumbnail{
    width:100%;
    border-radius: 10px;
}

.foodTitle{
    color:rgb(82, 80, 80);
    font-weight: 500;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 576px){
 .recipe{
    width:100%;  
 }
 .recipesContent{
     padding:5rem .5rem;
 }
     
}
.RecipeNew{
    width:300px;
    margin:auto;
}

