*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    color: beige;
    background-image: linear-gradient(to right, rgb(75, 2, 92), rgb(51, 183, 201));
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.middle{
    margin: auto; 
    width: 50%;
    text-align: center;
}

.sect{
    margin:2%;
    padding: 3%;
    border-bottom: 1px dotted bisque;
    line-height: 50px;
}

input[type="submit"]{
    background-color: #333;
    padding: 15px;
    color: bisque;
    border: none;


}