*{
    border:0;
    padding: 0;
    box-sizing: border-box;
}
.recipesContent{
    padding:5rem;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe{
    width:300px;    
    border: 1px dotted rgb(177, 175, 175);
    border-radius: 4px;
    box-shadow: 1px 1px 2px gray;
    padding: 5px;
    margin:1rem;
    overflow: hidden;
    
}

.thumbnail{
    width:100%;
}

.foodTitle{
    color:rgb(82, 80, 80);
}