
.circle{
    border-radius: 50%;
    height:100px;
    width:100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    }    
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}

.active{
    background-image: url('../assets/img/sonic.png');
    background-position: center;
    background-size: contain;
    /*comment*/
}