*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.headBar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width:100%;
    position: fixed;
    
}

.topLogo a{
    text-decoration: none;
    color:white;
}
.topLogo a:hover{

    color:brown;
}

.topNav li{
    display: inline;
    list-style: none;
    padding: .5rem;
    font-weight: 500;
    
    
    
}

.topNav li a{
   text-decoration: none; 
   color:rgb(218, 13, 13);
   border-bottom: 3px solid red;
   padding:3px;
}

.topNav li a:hover{
   
   color:orange;
}

.logo{
    width: 30px;
    margin: 0;
    padding: 0;
}