*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: azure;
    font-family: 'Roboto', sans-serif; 
    
  
}

.band{
    background-color: rgb(158, 114, 56);
    padding: 2%;
    color:whitesmoke;
    display: flex;
    width: 100%;
    z-index:1;
    justify-content: space-between;

}

#logo{
    
}

ul{
    list-style: none;
    
}

ul#menu li {
    display: inline;
    color:whitesmoke;
    padding: 5px;
}

ul li a {

    color:whitesmoke;
    text-decoration: none;
    
}

ul li a:hover{
        color: turquoise;
    }

header{
        background-image: url("https://source.unsplash.com/bnoemmyyDzM/1600x900");
        background-repeat: no-repeat;
        background-size:cover;
        height: 70vh;
        
        
        
}

.hvcenter {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding:2%;
      color:rgb(49, 43, 31);
}        

main{
        
}

.timeline{
    padding:2%;
  
}

  .thumb{
    width: 100%;
}

@media screen and (max-width: 480px) {
  .thumb{
    
}
}


.stick{
    position: fixed;
    top:0;
}

.cardArea{
    margin:1%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 25em;
    box-shadow: 0 0 1em rgb(94, 60, 21);
    margin:5% 1% 5% 1%;
}

.card p{
    padding:2%;
    
}